<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小流</title>


    <meta name="description" content="Resig Spring boot">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/resig.css}" />

    <script th:src="@{/vendor/jquery/jquery.2.1.3.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>


    <script th:src="@{/js/resig.js}"></script>
</head>


<body>

<div class="login">

    <div class="form-wrap px-5 vertical-center">
        <div class="title py-4">小流</div>
        <form class="login-form  form-horizontal" id="registerForm">


            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
                <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-lock"></i></div>
                </div>
                <input type="text" class="form-control" name="password" id="password" placeholder="密码">
            </div>


            <div class="form-group">
                <button type="button" class="btn btn-primary col-12 col-sm-12" id="btnRegister">注册</button>
            </div>



        </form>
        <div class="mb-4">&copy; Davingci 2018</div>
    </div>

    <div class="success-message" id="success-message">

    </div>

    <script>

        $(function () {
            $("#btnRegister").on("click",function () {
                $.ajax({
                    url: baseurl + "/user/register",
                    method:"post",
                    data:$("#registerForm").serialize(),
                    success : function(response) {
                        if(response.code == 200) {
                            $("#success-message").html("注册成功！");
                            $("#success-message").delay(1000).fadeIn().delay(3000).fadeOut();
                            window.location.href = baseurl + "/login";
                        }

                    },
                    failure : function(response) {

                    }
                });


            });

        });

    </script>
</div>
</body>
</html>