<!DOCTYPE html>


<html lang="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小流</title>
    <meta name="description" content="不积小流无以成江海，不积跬步无以至千里">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/glory.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <script th:src="@{/js/vendor/jquery.1.12.4.min.js}"></script>
    <script th:src="@{/js/vendor/modernizr-2.6.2.min.js}"></script>
    -->
    <link rel="stylesheet" th:href="@{/css/resig.css}" />
    <link rel="stylesheet" th:href="@{/vendor/ace/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />



    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" th:href="@{/vendor/ace/css/fonts.googleapis.com.css}" />

    <!-- ace styles -->
    <link rel="stylesheet" th:href="@{/vendor/ace/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/vendor/ace/css/ace-part2.min.css}" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" th:href="@{/vendor/ace/css/ace-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/vendor/ace/css/ace-rtl.min.css}" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/vendor/ace/css/ace-ie.min.css}" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script th:src="@{/vendor/ace/js/ace-extra.min.js}"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script th:src="@{/vendor/ace/js/html5shiv.min.js}"></script>
    <script th:src="@{/vendor/ace/js/respond.min.js}"></script>
    <![endif]-->



    <!-- basic scripts -->

    <!--[if !IE]> -->
    <script th:src="@{/vendor/ace/js/jquery-2.1.3.min.js}"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script th:src="@{/vendor/ace/js/jquery-1.11.3.min.js}"></script>
    <![endif]-->
    <script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script th:src='@{/vendor/ace/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
    </script>
    <script th:src="@{/vendor/ace/js/bootstrap.min.js}"></script>

    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
    <script th:src="@{/vendor/ace/js/excanvas.min.js}"></script>
    <![endif]-->
    <script th:src="@{/vendor/ace/js/jquery-ui.custom.min.js}"></script>
    <script th:src="@{/vendor/ace/js/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/vendor/ace/js/jquery.easypiechart.min.js}"></script>
    <script th:src="@{/vendor/ace/js/jquery.sparkline.index.min.js}"></script>
    <script th:src="@{/vendor/ace/js/jquery.inputlimiter.min.js}"></script>


    <!-- ace scripts -->
    <script th:src="@{/vendor/ace/js/ace-elements.min.js}"></script>
    <script th:src="@{/vendor/ace/js/ace.min.js}"></script>

    <!--gitter-->

    <script th:src="@{/vendor/ace/js/jquery.gritter.min.js}"></script>

    <script th:src="@{/js/resig.js}"></script>
</head>


<body>

</body>
</html>
